/* Colors:
    1F2937 - dark grey
    E5E7EB - white
    F9FAF8 - another white
    3882F6 - blue
*/
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
#header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 200px;
    background-color: #1F2937;
}
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0px 100px;
}
#logo h2 {
    font-size: 24px;
    color: #F9FAF8;
}
#links ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}
#links ul li a {
    color: #E5E7EB;
    font-size: 18px;
}
#header-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#header-text {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#header-image {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
#header-image img {
    width: 70%;
    height: auto;
}
#header-text h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
#header-text p {
    font-size: 18px;
    color: #E5E7EB;
}
#header-text a {
    color: #E5E7EB;
    background-color: #3882F6;
    border: 1px solid #3882F6;
    border-radius: 10px;
    padding: 10px 30px;
}
#photos-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
#photos-heading h2 {
    text-align: center;
}
#photos {
    display: flex;
    justify-content: space-evenly;
}
